@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
html, body {
  box-sizing: border-box;
  margin: 0; }

* {
  box-sizing: inherit; }

@keyframes loading {
  0% {
    transform: rotate(360deg); }
  50% {
    border-width: .2rem; }
  10% {
    border-width: .5rem; } }

.header {
  height: 9rem;
  background: #5ba4a4 url("../images/bg-header-mobile.svg"); }

.container {
  min-height: calc(100vh - 9rem);
  background-color: #effafa;
  padding: 3rem 1.5rem;
  position: relative; }
  @media (min-width: 48rem) {
    .container {
      padding: 5rem 1.5rem 3rem; } }

.job {
  background-color: white;
  padding: 2rem 1.5rem 1.5rem;
  border-radius: .5rem;
  font-family: "Spartan", sans-serif;
  position: relative;
  width: Min(70rem, 100%);
  margin: 0 auto;
  box-shadow: 0 0.8rem 1rem 0 #daeeef;
  transition: .2s ease;
  transform: translateY(20px);
  opacity: 0; }
  .job--active {
    transform: translateY(0);
    opacity: 1; }
  .job:not(:last-child) {
    margin-bottom: 3rem; }
  .job--featured {
    border-left: 0.35rem solid #5ba4a4; }
  @media (min-width: 48rem) {
    .job {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .job:not(:last-child) {
        margin-bottom: 1.5rem; } }
  .job__company-img {
    max-width: 3.125rem;
    position: absolute;
    top: 0;
    transform: translateY(-50%); }
    @media (min-width: 48rem) {
      .job__company-img {
        position: unset;
        transform: unset;
        max-width: 100%;
        margin-right: 1rem; } }
  .job__company {
    font-size: .88rem;
    color: #5ba4a4;
    margin: 0 .8rem 0 0; }
  .job__tag {
    color: white;
    font-weight: 700;
    font-size: .6rem;
    line-height: 90%;
    padding: .5rem;
    border-radius: 2rem;
    margin: 0 .5rem 0 0; }
    .job__tag--new {
      background-color: #5ba4a4; }
    .job__tag--featured {
      background-color: #2c3a3a; }
  .job__position {
    color: #2c3a3a;
    font-size: 1.2rem;
    margin: 1rem 0;
    cursor: pointer; }
    .job__position:hover {
      color: #5ba4a4; }
  .job__sub-detail {
    font-size: .88rem;
    margin: 0 .5rem 0 0;
    color: #7b8e8e; }
    .job__sub-detail:not(:last-child)::after {
      content: "•";
      padding-left: .5rem; }
  .job__separator {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #7b8e8e; }
    @media (min-width: 48rem) {
      .job__separator {
        display: none; } }
  .job__languages {
    margin-top: -.8rem; }
    @media (min-width: 48rem) {
      .job__languages {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end; } }

.filter-bar {
  background-color: white;
  width: Min(70rem, 100%);
  height: auto;
  padding: 1.5rem;
  border-radius: .5rem;
  margin: -5rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 48rem) {
    .filter-bar {
      width: Min(70rem, 95%);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0; } }
  .filter-bar__tags {
    margin-top: -.8rem; }
  .filter-bar__clear {
    flex-basis: 50px;
    font-family: "Spartan", sans-serif;
    font-weight: 700;
    font-size: .8rem;
    color: #7b8e8e;
    cursor: pointer; }
    .filter-bar__clear:hover {
      color: #5ba4a4;
      text-decoration: underline; }

.button {
  outline: none;
  border: none;
  background: #eef6f6;
  color: #5ba4a4;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: .8rem;
  padding: .5rem;
  border-radius: .3rem;
  margin: .8rem .8rem 0 0;
  position: relative;
  cursor: pointer; }
  .button:hover {
    color: white;
    background-color: #5ba4a4; }
  .button--tag {
    margin-right: 2.8rem;
    border-radius: .3rem 0 0 .3rem; }
    .button--tag::after {
      content: url("/src/images/icon-remove.svg");
      background-color: #5ba4a4;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 .5rem;
      border-radius: 0 .3rem .3rem 0; }
    .button--tag:hover {
      background: #eef6f6;
      color: #5ba4a4; }
      .button--tag:hover::after {
        background-color: #2c3a3a; }

.flex {
  display: flex;
  flex-direction: column; }
  @media (min-width: 48rem) {
    .flex {
      flex-direction: row;
      align-items: center; } }
  .flex--row {
    flex-direction: row;
    align-items: center; }

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.125rem;
  height: 3.125rem; }
  .loading::before {
    content: "";
    border: .5rem solid transparent;
    border-top-color: #7b8e8e;
    border-bottom-color: #7b8e8e;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: loading 1s linear infinite; }
